<div class="card-container">
  <% @movies.each do |movie|%>
  <div class="card">
      <img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>" class="card-img-top" alt="<%= movie.title %>">
      <div class="card-body">
        <div class="text-container">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text"><%= movie.overview %></p>
        </div>
          <i class="<%= @favorite_movies_ids.include?(movie.id) ? 'fas' : 'far' %> fa-thumbs-up fa-3x" data-user-id="<%= current_user.id %>" data-movie-id="<%= movie.id %>"></i> 
      </div>
    </div>
  <% end %>
<div>

<script>
$(document).ready(function() {
  $('.card-body').on('click', '.far', function() {
    let userId = $(this).data().userId;
    let movieId = $(this).data().movieId;

    $.ajax({
      method: "POST",
      url: "/favorites/add",
      beforeSend: function(xhr) {
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
      },
      data: {
        favorite: {
          user_id: userId,
          movie_id: movieId
        }
      },
      success: function(data) {
        $(`[data-movie-id='${movieId}']`).removeClass('far fa-thumbs-up fa-3x').addClass('fas fa-thumbs-up fa-3x')
      }
    });
  });

  $('.card-body').on('click', '.fas', function() {
    let userId = $(this).data().userId;
    let movieId = $(this).data().movieId;

    $.ajax({
      method: "GET",
      url: "/favorites/delete",
      beforeSend: function(xhr) {
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
      },
      data: {
        movie_id: $(this).data().movieId
      },
      success: function(data) {
        $(`[data-movie-id='${movieId}']`).removeClass('fas fa-thumbs-up fa-3x').addClass('far fa-thumbs-up fa-3x')
      }
    });
  });
});
</script>