<!DOCTYPE html>
<html>
  <head>
    <title>Movie Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c1476fdb97.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class='container-fluid p-0' id="alert">
      <% flash.each do |name, msg| %>
        <div class='alert alert-<%= name %> text-center fade show' role="alert">
          <%= msg %>
        </div>
      <% end %>
    </div>
    <div class="container-fluid p-2">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <h1>Movie Tracker</h1>
        </div>
        <div class="navbar col-sm-12 col-md-6 col-lg-6">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/">Profile</a>
          <a class="nav-link" href="/">About Us</a>
          <% if !current_user %>
            <%= link_to "Login", "/login", class: "nav-link" %>
          <% else %>
            <%= link_to "Logout", "/logout", class: "nav-link" %>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
    <div id="footer">
      <hr>
      <div class="row text-center m-auto">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <a class="nav-link" href="/">Home</a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <a class="nav-link" href="/">Profile</a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <a class="nav-link" href="/">About Us</a>
        </div>
      </div>
    </div>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
